@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-konstraktRegular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.open-sans-konstraktSemiBold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.open-sans-konstraktBold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.open-sans-konstraktExtraBold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-size: 13px;
    line-height: 23px;
}

.firstSreen {
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.logo {
    text-align: center;
    margin-top: 40px;
}

.textTitle {
    font-size: 60px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    line-height: 80px;
    text-transform: uppercase;
}
.textSubTitle {
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.scroll {
    font-size: 11px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;
    margin-bottom: 70px;
    cursor: pointer;
    text-transform: uppercase;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}

.topMenu{
    margin-bottom: 60px;
}

.topMenuWrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* height: 300px; */
}
.topMenuLogo {
    padding: 25px 5px;
}
.nav {
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
    text-transform: uppercase;
    /* max-width: 440px; */
    flex-basis: 440px;
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.nav li{
    padding: 25px 5px;
}

.nav a:hover,
.active{
    color: #00a4e5;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.ourStory {
    margin-bottom: 120px;
}

.ourStoryTitle {
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
    text-transform: uppercase;
    margin-bottom: 90px;
    position: relative;
}

.ourStoryTitle::after{
    content:"";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.ourStotySubTitle {
    display: flex;
    flex-wrap: wrap;
}
.left {
    flex-basis: 50%;
}
.leftTitle {
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
    margin-bottom: 30px;
    padding-right: 45px;
}
.runPageKonstruct {
    letter-spacing: 0.01em;
    color: #16ace8;
}
.leftText {
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    padding-right: 45px;
}
.right {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    font-size: 24px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: #fff;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    /* margin: 10px; */
}
.card1 {
    background-image: url("../img/Bitmap1.jpg");
}
.card2 {
    background-image: url("../img/Bitmap2.jpg");
}
.card3 {
    background-image: url("../img/Bitmap3.jpg");
}

@media (max-width: 880px){
    .card {
        margin: 20px;
    }
}

.capabilities {
    margin-bottom: 115px;
}
.capabilitiesHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    flex-wrap: wrap;
}
.capabilitiesHeaderTitle {
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555b;
    flex-basis: 250px;
    position: relative;
    text-transform: uppercase;
}

.capabilitiesHeaderTitle::after{
    content:"";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    position: absolute;
    top: 40px;
    left: 0;
}
.capabilitiesHeaderText {
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: #48555b;
    flex-basis: 410px;
}

@media (max-width: 670px){
    .capabilitiesHeaderText {
        margin-top: 30px;
    }
}

.capabilitiesHeaderBtn {
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    line-height: 40px;
    cursor: pointer;
    text-transform: uppercase;
}

@media (max-width: 850px){
    .capabilitiesHeaderBtn {
        margin-top: 30px;
    }
}

.capabilitiesCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    width: 295px;
    height: 330px;
    border: 1px solid #e6e6e6;
    padding: 40px 20px;
}

@media (max-width: 920px){
    .item {
        margin: 20px;
    }
}

.item img{
    margin-bottom: 25px;
}

.title {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #48555b;
    margin-bottom: 13px;
    text-transform: uppercase;
}
.text {
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}
/* 
.item1 {
}
.item2 {
}
.item3 {
} */

.touch {
    height: 500px;
    background-image: url("../img/bgBuild.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 bottom;
}
.touchItem {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.touchItemTitle {
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #48555b;
    margin-bottom: 35px;
}
.touchItemBtn {
    width: 150px;
    height: 40px;
    background: #00a4e5;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
    text-transform: uppercase;
}

.signup {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171819;
    flex-wrap: wrap;
}
.signupWrap {
    display: flex;
}

.signupWrap form{
    height: 40px;
}
.signupWrapTitle {
    font-size: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-right: 70px;
    line-height: 40px;
}

@media (max-width: 760px){
    .signupWrapTitle {
        margin-right: 10px;
        margin-left: 15px;
    }
}

@media (max-width: 430px){
    .signupWrapTitle {
        font-size: 16px;
    }
}

.signupWrap input{
    /* display: inline-block; */
}

.signupWrap input[type="email"]{
    border: 1px solid #979797;
    width: 250px;
    height: 40px;
    padding-left: 16px;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #00A4E5;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    /* padding-block: 0;
    padding-inline: 0; */
}

@media (max-width: 380px){
    .signupWrap input[type="email"]{
        width: 200px;
        
    }
}

.signupWrap input[type="email"]:focus{
    outline: 3px solid #00A4E5;
}

.signupWrap input[type="email"]::placeholder{
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #48555b;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.signupWrap input[type="submit"]{
    width: 150px;
    height: 40px;
    background: #00a4e5;
    border: 1px solid #979797;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;

}

.footer {
    background: #141a20;
    color: #fff;
}
.footerWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.iners {
}
.company {
    /* width: 250px; */
    flex-basis: 250px;
    margin: 40px 70px 50px 0;
}
.companyTitle {
    font-size: 11px;
    letter-spacing: 0.08em;
    margin-bottom: 20px;
}
.companyLogo {
    margin-bottom: 15px;
}
.companyText {
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.08em;
}
.links {
    margin: 40px 35px 50px 0;
    
}
.linksTitle {
    margin-bottom: 10px;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: #fff;
    text-transform: uppercase;
}
.footerNav {
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: #fff;
    text-transform: uppercase;
}
.footerNav ul{
    list-style-type: none;
}
.faq ul {
    list-style-type: none;
}
.faq {
    margin: 70px 40px 100px 0;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.faqNav {
    font-size: 11px;
line-height: 227%;
letter-spacing: 0.08em;
text-transform: uppercase;
}
.blog {
    margin: 70px 60px 100px 0;
}
.blog ul{
    list-style-type: none;
}
.blogNav {
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
}
.contact {
    margin: 40px 40px 40px 0;
}
.contactTitle {
    margin-bottom: 19px;
    font-size: 11px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.contactAdress {
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
}
.contactPhone {
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
    margin-top: 20px;
}
.contactEmail {
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
    margin-top: 20px;
}
.socium {
    margin-top: 70px;
    margin-bottom: 155px;
    flex-basis: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    
}

.copy{
    background: #171819;
    height: 60px;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: #fff;
    line-height: 60px;
    text-align: center;
}